<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
</head>
<body>
<h1>Book List</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.authorName}"></td>
        <td th:text="${book.genre}"></td>
    </tr>
    </tbody>
</table>

<div th:if="${pageInfo.totalPages > 1}">
    <div class="pagination">
            <span th:each="pageNumber : ${#numbers.sequence(1, pageInfo.totalPages)}"
                  th:classappend="${page == pageNumber} ? 'active' : ''">
                <a th:href="@{/(page=${pageNumber})}" th:text="${pageNumber}"></a>
            </span>
    </div>
</div>
</body>
</html>