<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Book Price</title>
</head>
<body>
<h1>Update Book Price</h1>
<form method="put" th:action="@{/add-price}">
    <label for="title">Book Title: </label>
    <input type="text" id="title" name="title" required/><br/>

    <label for="price">New Price: </label>
    <input type="text" id="price" name="price" required/><br/>

    <button type="submit">Update Price</button>
    <button onclick="window.location.href='/add-book'">Add Book</button>
</form>
</body>
</html>